*{
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
    list-style: none;
}
body{
  margin: 0;
  padding: 0;
  font-family: poppins;
}
.container{
  margin: 50px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  text-align: center;
  flex-direction: column; 
}
.container span{
  font-size: 2.4rem;
  color: #2b2b2b;
  font-weight: 600;
}
.blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}
.blog-box{
  width: 350px;
  border: 1px solid #ececec;
  margin: 20px;
}
.blog-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}