@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    background: url(welcome.gif);
    background-size: cover;
    font-size: 30px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100; 
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: darkgreen;
    text-decoration: none;  
    font-weight: 500;
    margin-right: 20px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.search-bar {
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    padding-left: 10px;
}

.search-bar input::placeholder {
    color: #e4e4e4;
}

.search-bar button {
    width: 40px;
    height: 80%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i {
    font-size: 25px;
    color: #e4e4e4;
}

.header .Login-Form {
    margin: 5px;
    padding: 0  ;
    font-size: 20px;
    display: flex;
    outline: none;
    justify-content: right;
    align-items: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin-top: 50px;
}

.container .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 90%;
    background: transparent;
    padding: 50px;
    color: rgb(249, 249, 249);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content .logo {
    font-size: 30px;
}

.text-sci h2 {
    font-size: 40px;
    line-height: 1;
}

.text-sci h2 span {
    font-size: 25px;
}

.text-sci p {
    font-size: 16px;
    margin: 20px 0;
}

.social-icons a i {
    font-size: 25px;
    color: brown;
    margin-right: 10px;
    transition: .5s ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
}

.container .logreg-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 200;
    width: calc(100% - 58%);
    height: 100%;
}

.logreg-box .form-box {
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #e4e4e4;
}

.form-box h2 {
    font-size: 32px;
    text-align: center;
}
